/* index.html */
body {
    background-color:#F08080;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

#title-twj {
    display:flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(3%);
    font-size: 70px;
   
}

#svg1nd2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    transform: translateY(75%);
    
}

.svg1 {
    position: relative;
    left: 10%;
    cursor: pointer;
    
}
.svg1:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}

.svg2 {
    position: relative;
    right: 10%;
    cursor: pointer;
}

.svg2:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}




#brandname{
    position: absolute;
    transform: translateY(350%);
    left: 105ch;
    cursor: pointer;
}

#socialmedia{
    display: flex;
    justify-content: flex-end;
    transform: translateX(-3%);
}
.ttlogo1{
    cursor: pointer;

}
.ttlogo1:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
.iglogo1{
    transform: translateX(-45%);
    cursor: pointer;
}
.iglogo1:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;

    }


    /* CSS FOR VERSE.HTML */

    #versehtml {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Big Shoulders Stencil Text', cursive;
    }

  .carousel-container {
      width: 38%;
      margin: auto;   
      border: 5px solid black;  
      overflow: hidden;
      position: relative;
      transform: translateY(-35%);
      
    }
  
  .carousel-slide {
      display: flex;
      width: 100%;
      height: 500px;
  
  }
  
  #prevBtn{
      position: absolute;
      top: 50%;
      z-index: 10;
      left: 5%;
      font-size: 30px;
      color: white;
      cursor: pointer;
  }
  
  #nextBtn{
      position: absolute;
      top: 50%;
      z-index: 10;
      right: 5%;
      font-size: 30px;
      color: white;
      cursor: pointer;
  }

  #title-votd{
    font-size: 5.5ch;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    
}
#brandname-verse{
    position: absolute;
    transform: translateY(11%);
    left: 105ch;
    cursor: pointer;
}

#svg1nd2verses{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.svg1verses{
    position: absolute;
    left: 14%;
    cursor: pointer;

}

.svg1verses:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}


.svg2verses{
  position: absolute;
  top: 15%;
  left: 15%;
  cursor: pointer;

}

.svg2verses:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}

#bigcontainer{
    position: relative;
    transform: translateY(35%);
}


/* Music.HTML CSS */

.iframe-container{
display: flex;
flex-direction: column;
align-items: center;
transform: translateY(10%);
}

#svg1nd2music{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.svg1music{
    position: relative;
    left: 20%;
    
}

.svg1music:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}


.svg2music{
  position: relative;
  left: -20%;
  top: 20%;
  cursor: pointer;

}


.svg2music:hover{
    -webkit-animation:shake 1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(25deg);
    }
    to{
        -webkit-transform: rotate(-25deg);
        -webkit-transform-origin: center center;
    }
}


#brandname-music{
    cursor: pointer;
   position: absolute;
   transform: translate(555%,70%);


}

#title-music{
    font-size: 5.5ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




#biblev{
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    animation-iteration-count: infinite;
    position: relative;
    transform: translate(0%,-800%);
    
   
}
@keyframes type{
    0% {
        width: 0ch;
    }
    100% {
        width:65ch;
    }
}


